.main {
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-top: 4rem; */
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.646);
}
