.mainNav {
  background-color: rgba(0, 0, 0, 0.569);
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  font-size: 2.4rem;
}

.logo {
  height: 8rem;
  padding-left: 4rem;
}
.navListItem {
  padding-right: 4rem;
  font-weight: bold;
}

.navListItem:hover {
  color: #ffd43b;
}
